#container-features2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    
    
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    gap: 2vw;
    background-color: black;
}

#container-features2 #card-features2 {
    position: relative;
    width: 30vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40vw, 30vw;
    transition: 0.5s;
}

#container-features2 #card-features2:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;

}

#container-features2 #card-features2::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
    filter: blur(30px);
    transition: 0.5s;
}

#container-features2 #card-features2:hover:before,
#container-features2 #card-features2:hover:after {
    transform: skewX(0deg);
    left: 20px;
    width: calc(100% - 90px);
}

#container-features2 #card-features2:nth-child(1):before,
#container-features2 #card-features2:nth-child(1):after {
    background:  linear-gradient(315deg, #ffbc00, #ff0058);
}

#container-features2 #card-features2:nth-child(2):before,
#container-features2 #card-features2:nth-child(2):after {
    background: linear-gradient(315deg, #03a9f4, #ff0058);
}

#container-features2 #card-features2:nth-child(3):before,
#container-features2 #card-features2:nth-child(3):after {
    background: linear-gradient(315deg, #3499ff, #3a3985);
}

#container-features2 #card-features2 span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    pointer-events: none;
}

#container-features2 #card-features2 span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: rgba(255,255,255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animate-features2 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

#container-features2 #card-features2:hover span::before {
    top: -50px;
        left: 50px;
        width: 100px;
        height: 100px;
    opacity: 1;
}

#container-features2 #card-features2 span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animate-features2 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

#container-features2 #card-features2:hover span::before {
    top: -50px;
    left: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}

#container-features2 #card-features2 span::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: rgba(255,255,255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animate-features2 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    animation-delay: -1s;
}

#container-features2 #card-features2:hover span::after {
    bottom: -50px;
        right: 50px;
        width: 100px;
        height: 100px;
    opacity: 1;
}

@keyframes animate-features2 {

    0%,
    100% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(-10px)
    }

}

#container-features2 #card-features2 #information-features2 {
    position: relative;
    left: 0;
    padding: 3vh 0.8vw;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-radius: 8px;
    backdrop-filter: blur(10px);
    z-index: 1;
    transition: 0.5s;
    color: #fff;
}

#container-features2 #card-features2:hover #information-features2 {
    left: -25px;
    padding: 60px 40px;
}

#container-features2 #card-features2 #information-features2 h2 {
    font-family: "AC-SUPERG";
    font-size: 1.4vw;
    font-weight: 700;
    color: #fff;
    line-height: 1.4em;
}

#container-features2 #card-features2 #information-features2 p {
    font-family: "Tomorrow-Light";
    font-weight: 700;
    font-size: 1vw;
    margin-bottom: 10px;
    line-height: 1.4em;
}

#container-features2 #card-features2 #information-features2 Button {
    font-family: "Tomorrow-Thin";
    display: inline-block;
    font-size: 0.7vw;
    color: #111;
    background: #fff;
    padding:10px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    margin-top: 5px;
    border: none;
    outline: none;
}

#main-modal-features2 {
    font-family: "AC-SUPERG";
    font-size: 2em;
    color: white;
    margin: 2vh;
}

#sub-modal-features2 {
    font-family: "Tomorrow-Light";
    font-size: 1.5em;
    color: white;
    margin: 2vh;
}