.carousel-indicators{
        visibility: hidden;
}

#author_info{
        text-align: left;
}

#caption_info{
        text-align: left;
}

#caption_title{
        text-align: left;
}

.carousel-control-next,
.carousel-control-prev {
  width: 750px;
  height: 750px;
  opacity: 0;
}

#content_image{
        width: 30vw;
        height: 30vw;

        margin: auto;
        padding: 10px;
}

#image_div{
        width: 30vw;
        height: 30vw;
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
}

