::-webkit-scrollbar {
    width: 0;
    scrollbar-width: none;
}

html {
    scrollbar-width: none;
}

body {
    background: black;
    overflow: hidden;
}

html,
body {
    margin: 0;
    padding: 0;
}