#container-aboutus3 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;

    flex-direction: column;


    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#maintext-aboutus3 {
    font-family: "Tomorrow-Light";
    color: white;
    font-size: 1.5vw;
    width: 85%;
}