.sidebar {
    background: rgba(28, 28, 38, 0.7);
    color: #fff;
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    backdrop-filter: blur(6px);
    border: 1px solid rgba(255,255,255,0.18);
    position: fixed;
    top: 0;
    left: 0;
    width: 15em;
    height: 100%;
    overflow-y: hidden;
}

.sidebar ::-webkit-scrollbar {
    width: 5px;
}

.sidebar ::-webkit-scrollbar-track {
    background: transparent;
}

.sidebar ::-webkit-scrollbar-thumb {
    background: #2a2f44;
    border-radius: 10px;
}

.sidebar > div {
    height: 100%;
    overflow-y: scroll;
    padding: 1.7em 1em 1.7em 1em;
}

.sidebar a {
    text-decoration: none;
}

.sidebar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.sidebar small {
    color: #ccc;
}

.brand {
    display: block;
    font-size: 1.5em;
    color: #fff;
    font-weight: 600;
}

.menu-heading {
    padding: 1em;
    margin: 2em 0 0.5em 0;
    display: block;
}

.sidebar ul {
    padding-bottom: 1.5em;
}

.sidebar li a {
    color: #ccc;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1em;
    border-radius: 0.8em;
    transition: 0.3s;
}

.tools li a:hover {
    background: #d11bac;

}

.sidebar ul .material-icons-outlined {
    font-size: 1.6em;
    margin-right: 0.5em;
}

@media screen and (max-width: 800px) {
    .sidebar {
        width: 4.5em;
        font-size: 14px;
        text-align: center;
    }
    .siderbar > div {
        padding: 1.7em 0.2em 1.7em 0.3em;
    }
    .sidebar span:not(.material-icons-outlined),
    .profile div, .profile span {
        display: none;
    }
}