#container-aboutus2 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    
    flex-direction: column;
    
    
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

#maintext-aboutus2 {
    font-family: "Tomorrow-Light";
    color: white;
    font-size: 1.5vw;
    width: 85%;
    margin-bottom: 10vh;
}

#planet2-aboutus2 {
    width: 20vw;
    height: 40vh;
    margin-right: 2.6vw;
}