.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: sticky;
    top: 20px;
    margin-left: 100px;
    margin-top: auto;
  }
  
  .sidebar-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: auto;
    height: 100vh;
  }
  
  .sidebar-button {
    margin-top: auto !important;
    width: 150% !important;
    margin-bottom: 10px !important;
    height: 10% !important;
    font-size: 1.5rem !important;
    color: #fff !important;
    background-color: transparent !important;
    border: none !important;
    transition: background-color 0.3s !important;
    margin: 0 !important;
    padding: 10px !important;
  }

  .link-button {
    text-decoration: none;
    color: inherit;
  }  
  
  .sidebar-button:hover {
    background-color: #0069d9 !important;
  }  
  
  .sidebar-button:hover {
    background-color: #0069d9;
  }
  