.trending-topics-container {
    background-color: #2c2c36;
    padding: 15px;
    border-radius: 15px;
    height: fit-content;
    margin-top: 20px;
  }
  
  .trending-topics-container h4 {
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  #trending-topics {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .trending-topic {
    border-bottom: 1px solid #2c2c36;
    padding: 10px 0;
  }
  
  .trending-topic:hover {
    background-color: #3d3d4b; 
    cursor: pointer;
  }  


  .trending-topic:last-child {
    border-bottom: none;
  }
  
  .trending-topic-content {
    margin-bottom: 5px;
  }
  
  .trending-topic-title {
    color: #657786;
    font-size: 12px;
    font-weight: bold;
  }
  
  .trending-topic-text {
    color: #14171a;
    font-size: 15px;
    font-weight: bold;
  }
  
  .trending-topic-stats {
    color: #657786;
    font-size: 12px;
  }